QWidget{
    color: #A9FFFE;
    background: black;
    background-color: black;
}

#OperatorWindow{
    color: #A9FFFE;
    background: black;
}

#EngineerWindow{
    color: #A9FFFE;
    background: black;
}

#KeyPad{
    color: #A9FFFE;
    background: black;
}

QPushButton {
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: #A9FFFE;
    color: #A9FFFE;
    /* font-size: 16pt; */
    font-weight: bold;
}

QRadioButton {
    background-color: transparent;
    /* border-width: 2px; */
    /* border-style: solid; */
    /* border-color: #A9FFFE; */
    color: #A9FFFE;
    /* font-size: 16pt; */
    font-weight: bold;
}

QPushButton:pressed {
    background-color: #A9FFFE;
    color: black;
}

#doButton {
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: #A9FFFE;
    color: #A9FFFE;
    font-size: 16pt;
    font-weight: bold;
}

QComboBox {
    background: black;
    background-color: black;
    border-width: 2px;
    border-style: solid;
    border-color: #A9FFFE;
    color: #A9FFFE;
    font-size: 16pt;
    font-weight: bold;
    selection-background-color: black;
    padding: 1px 1px 1px 1px;
    selection-color: #A9FFFE;
}

QComboBox::dropdown {
    color: #A9FFFE;
    border-style: solid;
    border-color: #A9FFFE;
}


QComboBox QAbstractItemView {
    color: #A9FFFE;
    background: black;
    background-color: black;
    border-width: 2px;
    border-style: solid;
    border-color: #A9FFFE;
}

QComboBox:selected {
    selection-background-color: #A9FFFE;
    selection-color: black;
}

QLineEdit{
    background-color: black;
    border-width: 2px;
    border-style: solid;
    border-color: #A9FFFE;
    color: #A9FFFE;
    /* font-size: 16pt; */
    font-weight: bold;
}

QLabel{
    color: #A9FFFE;
    background: transparent;
    font: bold;
}

QLabel:disabled {
    color: black;
}

#uhvLabel{
    font-size: 24pt;
    /* font-weight: bold; */
    /* font-weight: italic; */
    color: #009999;
    font: italic bold;
    font-family: "Times New Roman";
}

#titleLabel{
    font-size: 24pt;
    color: #A9FFFE;
}

#nanoRANCHLabel{
    font-size: 24pt;
    /* font-weight: bold; */
    /* font-weight: italic; */
    color: #913B2A;
    font: bold;
    font-family: "Arial";
}

StatusCircleWidget {
    background-color: black;
    /* border-width: 2px; */
    /* border-style: solid; */
    /* border-color: #A9FFFE; */
    color: #A9FFFE; /* sets the color of the outer circle */
    alternate-background-color: #A9FFFE;
    /* alternate-background-color: #913B2A; */
    font-size: 16pt;
    font-weight: bold;
}

/* #TempStatusInd { */
/*     background-color: black; */
/*     /\* border-width: 2px; *\/ */
/*     /\* border-style: solid; *\/ */
/*     /\* border-color: #A9FFFE; *\/ */
/*     color: #A9FFFE; /\* sets the color of the outer circle *\/ */
/*     alternate-background-color: #A9FFFE; */
/*     font-size: 16pt; */
/*     font-weight: bold; */
/* } */


/* QFrame[frameShape="5"][frameShadow="10"] /\* QFrame::VLine == 0x0005 *\/ */
/*[isLine="true"] /* QFrame::HLine == 0x0004 */
QFrame[frameShape="5"]{
    color: #A9FFFE;
    border: none;
    background-color: #A9FFFE;
    background: #A9FFFE;
    /* border: 1px; */
    /* height: 5px; */
    /* max-height: 5px; */
    width: 2px;
    max-width: 2px;
    /* border-width: 1px; */
    /* padding: 0px; */
    /* border: 2px solid green; */
    /* background: solid green; */
    /* border-radius: 4px; */
    /* padding: 2px; */
}

QFrame[frameShape="4"]{
    color: #A9FFFE;
    border: none;
    background-color: #A9FFFE;
    background: #A9FFFE;
    /* border-width: 1px; */
    height: 2px;
    max-height: 2px;
    /* width: 5px; */
    /* max-width: 5px; */
    /* border-width: 1px; */
    /* border: 2px solid green; */
    /* background: solid green; */
    /* border-radius: 4px; */
    /* padding: 2px; */
}

QFrame[frameShape="6"]{
    background-color: black;
    border: 2px solid #A9FFFE;
}

RoundHardToggleButton {
    background-color: black;
    border: none;
    color: #A9FFFE;
    /* alternate-background-color: #913B2A; */
}

RoundButton {
    background-color: black;
    border: none;
    color: #A9FFFE;
}

SquareHollowButton {
    background-color: black;
    border-width: 2px;
    border-style: solid;
    border-color: #A9FFFE;
    color: #A9FFFE;
    font-size: 16pt;
    font-weight: bold;
}

QStackedWidget{
    color: #A9FFFE;
    background: black;
    background-color: black;
}

QToolButtons{
    color: #A9FFFE;
    background: black;
    background-color: black;
}

QTabWidget::pane{
    color: #A9FFFE;
    background: black;
    background-color: black;
}

QTabWidget::tab-bar{
    color: #A9FFFE;
    background: black;
    background-color: black;
}

QTabWidget::tab{
    color: #A9FFFE;
    background: black;
    background-color: black;
}

QTabWidget{
    color: #A9FFFE;
    background: black;
    background-color: black;
}

QTabBar{
    color: #A9FFFE;
    background: black;
    background-color: black;
}

QTabBar::tab{
    color: #A9FFFE;
    background: black;
    background-color: black;
}

QTabBar::tab:selected{
    background: #A9FFFE;
    background-color: #A9FFFE;
    color: black;
}

QMessageBox{
    color: #A9FFFE;
    background: black;
    background-color: black;
}

QTextBrowser{
    font-size: 12pt;
    color: #A9FFFE;
    background: black;
}

QFileDialog{
    color: #A9FFFE;
    background: black;
    background-color: black;
}

QTreeView{
    color: #A9FFFE;
    background: black;
    background-color: black;
}

QSlider::handle{
    color: #A9FFFE;
    background: #A9FFFE;
    background-color: #A9FFFE;
}
